# C / C++
*.o
*.out

# Ejecutables sin extension
sem*/**/file01-actividad
sem*/**/files01
sem*/**/fibonacci
sem*/**/fibonacci01
sem*/**/metodoOrdenaVarios
sem*/**/time0
sem*/**/time1
sem*/**/time2
sem*/**/time3
sem*/**/limitesAleatoriosCpp73
sem*/**/tutorNumAlatoriosC

# Java / NetBeans
*.class
build/
dist/
nbproject/private/
*.orig

# Archivos temporales de Office
~$*

# Datos generados
*.dat

# Sistema operativo
.DS_Store
Thumbs.db
desktop.ini